
*{ /*ทำการรีเซ็ต*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
  max-width: 1140px;
  margin: 0 auto; /*จัดกลึ่งกลาง จัดให้บนล่าง 0 จัดซ้ายขวา ออโต้*/
}

nav{
  padding: 1rem; /*รอบด้าน 1rem*/
  background-color: #333;
  
}
.nav-con{
  display: flex;
  justify-content: space-between;/*จัดตำเเหน่องของlogo เเละกล่อง เมณู*/
}

.logo a{
font-size: 2rem;
color: #fff;
text-decoration: none; /*ลบเส้น*/

}

.menu{
  display: flex;
  list-style: none; /*ลบจุดไข่ปลา*/
  align-items: center;/*จัดให้อยู่กลึ่งกลาง*/
  
}

.menu li{ /*ข้านใน เมณู มี li */
  margin: 0 1rem; /*ค่าตัวเเรกคือ บน ล่าง ค่าตัวสอง คือซ้าย- ขวา*/
}

.menu li a{ /*ข้านใน เมณู มี li ใน li มี เทค a*/
  color: #fff;
  text-decoration: none;/*ลบเส้น*/
}

/*css จัดข้อความเเละกล่องรูป*/
.hero{
  background-color: #f0f0f0; /*พื้นหลังของกล่องข้อความ + รูป*/
}

.hero-con{
  display: flex;
}

.hero-info{
  width: 100%;
  padding: 2rem;
}

.hero-info h3{ /*เข้าไปตั้งค่าหรือตกเเต่งข้อความ*/
 font-size: 2rem;
}
.hero-info p{
  margin: 1rem 0;
}

.hero-info .hero-btn{
  display: inline-block;
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.hero-img img{
  width: 100%;
  padding: 2rem;
}

/*กล่อง 3 กล่อง blog*/

.blog-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem; /*เว้นระหว่างกล่อง*/
}
.blog-title{
  margin:  2rem 0;
}

.blog-item img {
  width: 100%;
}

.blog-item h4{
  margin-top:  1rem;
}

.blog-item p{
margin: 1rem 0;
}

.blog-item a{
  display: inline-block;
  color: #fff;
  background-color: orange;
  padding:  0.5rem 1rem;
  text-decoration: none;
  border-radius: 5px;
}

/*footer*/
.footer-top{
  padding: 3rem;
  margin-top: 2rem;
  background-color: #333;
  color: #fff;
}
.footer-top-item-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;

}

/*footer 3 date*/
.footer-top-item-con{
  display: flex;
  margin: 1rem 0;
  
}

.footer-top-item-con .date{
  background-color: #f0f0f0;
  color: #333;
  padding:  0.5rem;
  border-radius: 5px;
  text-align: center;
  margin-right: 10px;
}

/*aboot*/
.footer-top-itme:nth-child(2) h4,
.footer-top-itme:nth-child(3) h4{ /*.footer-top-itme:nth-child(2) ให้ใช้ footer-top-itme ตัวที่ 2เเละ3*/
  margin-bottom: 1rem;
}
