
*{ /*ทำการรีเซ็ต*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
  padding: 1rem; /*รอบด้าน 1rem*/
  background-color: #333;
  
}
.nav-con{
  display: flex;
  justify-content: space-between;/*จัดตำเเหน่องของlogo เเละกล่อง เมณู*/
}

.logo a{
font-size: 2rem;
color: #fff;
text-decoration: none; /*ลบเส้น*/

}

.menu{
  display: flex;
  list-style: none; /*ลบจุดไข่ปลา*/
  align-items: center;/*จัดให้อยู่กลึ่งกลาง*/
  
}

.menu li{ /*ข้านใน เมณู มี li */
  margin: 0 1rem; /*ค่าตัวเเรกคือ บน ล่าง ค่าตัวสอง คือซ้าย- ขวา*/
}

.menu li a{ /*ข้านใน เมณู มี li ใน li มี เทค a*/
  color: #fff;
  text-decoration: none;/*ลบเส้น*/
}